body{background-color: #379683;}
/* Banner */
#banner {
  padding: 12em 0 12em 0;
  background-image: url('../images/banner.jpg');
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
  background-repeat: no-repeat;
  text-align: center;
  border-top: 0.5em solid #8ee4af;

}

#banner h1 {
  font-size: 3.5em;
  font-weight: 100;
  color: #edf5e1;
  line-height: 1em;
  margin: 0 0 0.5em 0;
  padding: 0;
}

#banner p {
  font-size: 1em;
  color: rgba(255, 255, 255, 0.55);
  margin-bottom: 1.75em;
}
/*search box css start here*/
.search-sec
{
  padding: 2rem;
}

.search-slt
{
  display: block;
  width: 100%;
  font-size: 0.875rem;
  line-height: 1.5;
  color: #55595c;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  height: calc(3rem + 2px) !important;
  border-radius:0;
}

.wrn-btn
{
  width: 100%;
  font-size: 16px;
  font-weight: 400;
  text-transform: capitalize;
  height: calc(3rem + 2px) !important;
  border-radius:0;
}

@media (min-width: 992px){
  .search-sec{
    position: relative;
    top: -114px;
    background: rgba(26, 70, 104, 0.51);
  }
}

@media (max-width: 992px){
  .search-sec{
    background: #1A4668;
  }
}
